<%= render :partial => "refinery/themes/admin/shared/theme_assets" %>
<%= render 'editor_actions' %>
<%= render "refinery/themes/admin/shared/actions" %>

<% content_for :javascripts do %>
    <%= javascript_include_tag "/assets/editor" %>
<% end %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag '/assets/editor' %>
<% end %>

<section class="clearfix one_list" id='records'>
  <div class="fullwidth" id="code"><h2>Select any file from tree...</h2></div>
</section>

